@page
@model CodeCampApp.Pages.Camps.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Code Camp List</h1>

<!-- Variable that comes from appsettngs.json -->
<p>@Model.ConfigMessage</p>

<form method="get">
    <div class="from-group mb-3">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search by Camp name"
                   asp-for="SearchTerm" />
            <span class="input-group-append">
                <button class="btn btn-default">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <small id="SearchHelp" class="form-text text-muted">The code camp that interst you.</small>
    </div>
</form>

@if (Model.ActionMessage != null)
{
    <div class="alert alert-danger">@Model.ActionMessage</div>
}

<table class="table">
    @* Table header *@
    <tr>
        <th>Key</th>
        <th>Name</th>
        <th>EventDate</th>
        <th>Weeks</th>
        <th>Location</th>
        <th>State</th>
    </tr>

    @* Use a partial view to render the table *@
    @foreach (var camp in Model.Camps)
    {
        <partial name="_ListTable" model="camp" />
    }
</table>


@section footer {
    <div>
        <p>@Model.LocalMessage</p>
    </div>
}
