@page
@model IndexModel
@{
    ViewData["Title"] = "Code Camps";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Thelma's Code Camps </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h2>Add a coool first page, perhaps carousel and a camp promocion list</h2>


